.App {
  text-align: center;
}

.number{
  font-size: 60px;
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 5px 5px 5px gray;
}

div.box{
  width: 100px;
  height: 40px;
  float: left;
}

img.photo{
  width: 130px;
  height: 160px;
  border: 2px solid gray;
  border-radius: 30px 10px 70px 80px;
  margin-left: 10px;
}

li.data{
  list-style: none;
  margin-top: 5px;
  font-size: 20px;
  width: 200px;
  background-color: #ffc;
  border: 1px solid gray;
  text-align: center;
  cursor: pointer;
}